<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оставить отзыв</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Оставить отзыв</h1>
    <form action="/feedback" method="POST">
        <label for="email">Адрес электронной почты:</label>
        <input type="email" name="email" id="email" required>
        <label for="text">Комментарий:</label>
        <textarea name="text" id="text" cols="30" rows="10" required></textarea>
        <button type="submit">Отправить</button>
    </form>
    <a href="/">Вернуться на главную</a>
</body>
</html>