<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Глобальное Потепление</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#causes">CAUSES</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Глобальное Потепление</h1>
        <p class="home__subtitle">Опасность Для Мира</p>
      </section>
      <!-- Секция с рассказом о глобальном потепление -->
      <section class="main__about about" id="about">
        <h2 class="about__title">О Глобальном Потепление</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Глоба́льное потепле́ние — долгосрочное повышение средней температуры климатической системы Земли, происходящее уже более века, основной причиной чего, по мнению подавляющего большинства учёных, является человеческая деятельность (антропогенный фактор).
          </p>
          <img
            class="info-block__img"
            src="../static/img/globalwarming1.jpg"
            alt="Global Warming"
            width="350"
            height="350"
          />
        </div>
      </section>
      <!-- Секция со причинами -->
      <section class="main__causes causes" id="causes">
        <h2 class="causes__title">Причины</h2>
        <form action="/" method="POST">
          <ul class="causes__list causes-list">
            <li class="causes-list__cause cause">
              <img
                class="cause__img"
                src="../static/img/globalwarming2.jpg"
                alt="energy"
                width="350"
                height="350"
              />
              <span class="cause__info">Производство энергии</span>
            </li>
            <li class="causes-list__cause cause">
              <img
                class="cause__img"
                src="../static/img/globalwarming3.jpg"
                alt="transport"
                width="350"
                height="350"
              />
              <span class="cause__info">Использование Транспортного Средство</span>
            </li>
            <li class="causes-list__cause cause">
              <img
                class="cause__img"
                src="../static/img/globalwarming4.jpg"
                alt="forest"
                width="350"
                height="350"
              />
              <span class="cause__info">Вырубка Лесов</span>
            </li>
            <li class="causes-list__cause cause">
              <img
                class="cause__img"
                src="../static/img/globalwarming5.jpg"
                alt="need"
                width="350"
                height="350"
              />
              <span class="cause__info">Чрезмерное потребление</span>
            </li>
          </ul>
        </form>
      </section>
      <!-- Секция с формой обратной связи -->
    <section class="main__feedback feedback" id="feedback">
      <h2 class="feedback__title">FEEDBACK</h2>
      <form action="form_result" method="POST" class="feedback__form form">
        <label for="name" class="form__label">Имя:</label>
        <input type="text" id="name" name="name" required class="form__input" placeholder="Ваше имя">

        <label for="email" class="form__label">Электронная почта:</label>
        <input type="email" id="email" name="email" required class="form__input" placeholder="Ваш email">

        <label for="message" class="form__label">Сообщение:</label>
        <textarea id="message" name="message" required class="form__textarea" placeholder="Ваш отзыв" rows="4"></textarea>

        <button type="submit" class="form__button">Отправить отзыв</button>
      </form>
    </section>
    <!-- Подвал для ссылок на сортировку мусора -->
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="https://colab.research.google.com/drive/1jz5hEbuAH12sCIcAhDM7lWNxmmwqrdDk?usp=sharing" target="_blank">Перейти на сайт сортировки мусора</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://teachablemachine.withgoogle.com/train/image/1CTO7Dmr0Tmf3nv8WtfZv9FR9eI0ckKwo" target="_blank">Сайт 2 для сортировки мусора</a>
        </li>
      </ul>
    </nav> 
  </body>
</html>